<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%=description%></h1>
    <ul>
        <li> <button><a href="/api/employees">Employees</a></button></li>
        <li><button><a href="/api/departments">Departments</a></button></li>
        <li><button><a href="/api/projects">Projects</a></button></li>
    </ul>
</body>
</html>
